@model LNCDCDSS.Models.PatBasicInfor

@{
    ViewBag.Title = "GetPatient";
    Layout = "~/Views/Shared/PatLayout.cshtml";
}

<div id="content">
		<div id="query">
           @using (Ajax.BeginForm("Query", new AjaxOptions { UpdateTargetId = "sidebar", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }))  
           {
			<h2 class="title">查询病人</h2>
			 <ul>
            <li><div class="editor-field">@Html.LabelFor(model => model.Name, "姓名") 
            @Html.TextBox("name")
		    </div></li>
             <li><div class="editor-field">@Html.LabelFor(model => model.Sex, "性别")
           @Html.TextBox("sex")
		    </div></li>
             <li><div class="editor-field"><a>就诊日期</a><input ID="date" type="date"></input>
		    </div></li>
             <li><div class="editor-field"><lable>诊断结论</lable>   @Html.DropDownList("Diagnosis", String.Empty)
		    </div></li>
            </ul>
         
             <p><input type="submit" value="查询病人" /></p>
        
           }
		</div>
		<div id="entry">
			<h2 class="title">新病人注册</h2>
			 <div ID="label">
              @using (Html.BeginForm("Index"))
              {
             <ul>
              <li><div class="editor-field"><a>门诊号</a><input type="text" name="门诊号"/>
		    </div></li>
             <li><div class="editor-field"><a>住院号</a><input type="text" name="住院号"/>
		    </div></li>
            <li><div class="editor-field">@Html.LabelFor(model => model.Name, "姓名") 
            @Html.EditorFor(model => model.Name)
		    </div></li>
            
            <li><div class="editor-field">@Html.LabelFor(model => model.Sex, "性别")
            @Html.EditorFor(model => model.Sex) 
		    </div></li>
            
            <li><div class="editor-field">@Html.LabelFor(model => model.Age, "年龄") 
            @Html.EditorFor(model => model.Age)</div></li>
             <li> <div class="editor-field">@Html.LabelFor(model => model.Education, "教育水平")
            @Html.EditorFor(model => model.Education)
		    </div></li>
            <li><div class="editor-field">@Html.LabelFor(model => model.Job, "职业") 
            @Html.EditorFor(model => model.Job) </div></li>
          
            <li><div class="editor-field">@Html.LabelFor(model => model.Phone, "手机")
            @Html.EditorFor(model => model.Phone)</div></li>
            
            <li><div class="editor-field">@Html.LabelFor(model => model.FamilyMember, "家属")  
            @Html.EditorFor(model => model.FamilyMember)</div></li>
            <li> <div class="editor-field">@Html.LabelFor(model => model.ChiefDoctor, "主治医师")@Html.EditorFor(model => model.ChiefDoctor)
		    </div></li> 
            </ul>
            
            <p><input type="submit" value="注册新患者" /></p>
            
              }
	<!-- end content -->
	<!-- start sidebar -->
 </div>

 </div>
  </div>
	<div id="sidebar">
    <div id="List">
    <h2> 病人列表</h2>
	
	</div>
   