@{
    ViewBag.Title = "ViewRecord";
    Layout = "~/Views/Shared/PatLayout.cshtml";
}
@model List<LNCDCDSS.Models.VisitRecord>
 
<div id="content">
<div id="ViewContent">
    <h2 class="title">
        认知检查</h2>
    <div id="TestResult">
    </div>
    <h2 class="title">
        主诉</h2>
    <div id="RecordNote">
    </div>
    <h2 class="title">
        诊断</h2>
    <div id="DiagnosisResult">
    </div>
    <div id="diagnosis" class="button">
        <a>开始问诊</a>
    </div>
    <div id="delete" class="button">
        <a>删除记录</a>
    </div>
    </div>
</div>
<div id="sidebar">
    <div id="List">
        <h2>
            记录列表</h2>
        <ul class="paging">
            @foreach (var item in Model)
            {
                <li><a href="#"  id="@item.Id">@item.VisitDate.Date.ToString("yyyy-MM-dd")</a>
                </li>
            }
        </ul>
    </div>
    <div class="pagination">
        <a href="#" class="first" data-action="first">&laquo;</a> <a href="#" class="previous"
            data-action="previous">&lsaquo;</a>
        <input type="text" readonly="readonly" data-max-page="40" />
        <a href="#" class="next" data-action="next">&rsaquo;</a> <a href="#" class="last"
            data-action="last">&raquo;</a>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        $(" li  a").click(function () {

            var recordToView = $(this).attr("id");
           
            if (recordToView != '') {

                // Perform the ajax post
                $.ajax({
                    url: '@Url.Action("DetailView", "EnterPatInfor")',
                    type: "POST",
                    data: { id: recordToView },
                    success: function (data) {
                        // Successful requests get here
                        // Update the page elements
                        for (var n = 0; n < data.length; n++) {
                            $("#" + data[n].Name).html(data[n].Contetntext);
                        }
                        $(".CurrentView").parent().css("background-color", "#B9DCF2");
                        $(".CurrentView").removeClass("CurrentView");
                        $('#' + recordToView).addClass("CurrentView");
                        $(".CurrentView").parent().css("background-color", "#D3E7F2");
                        $("#ViewContent").show();
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    }
                });
            }
        })

    });

    $(function () {
        $("#diagnosis").click(function () {
            window.location.href = '@Url.Action("GoToDiagnosis", "EnterPatInfor", new { id = Model[0].PatBasicInforId }, null)';
        })

    });
    $(function () {
        $("#delete").click(function () {
            var pid = '@ViewBag.patId';
            $.ajax({
                url: '@Url.Action("DeleteRecord", "EnterPatInfor")',
                type: "POST",
                data: { id: pid },

                success: function (data) {
                    if (data.OK) {
                        $('#' + data.Message).parent().remove();
                        $("#ViewContent").hide();
                    }
                    else {
                        alert("删除失败");

                    }

                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                }
            });

        })
    });
    $(document).ready(function () {
        $("#ViewContent").hide();
        $(".paging").find("li").hide();
        $(".paging li:lt(12)").addClass("current").show();
        var num = Math.ceil($(".paging li").length / 12);
        $('.pagination').jqPagination({
            max_page: num,
            paged: function (page) {
                $(".current").hide();
                var start = (page - 1) * 12;
                for (var i = 0; i < 12; i++) {

                    $(".paging li:eq(" + start + ")").addClass("current").show();
                    start = start + 1;
                }
                // do something with the page variable

            }
        })
    });

</script>
